@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import "font-awesome";

body {
  background: image_url('folk-pattern.png');
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.center {
  text-align: center;
}

.block {
  display: inline-block;
}

.navbar {
  background: image_url('prism.png');
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.navbar-inverse .navbar-brand {
  color: #FA8320;
  font-family: 'Fjalla One', sans-serif;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
}

.clear {
  clear:both;
}

/* Style from css tricks */
/* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* back to mine */
.picture {
  max-width: 100%;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 550px;
  width: 100%;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.break {
  word-wrap: break-word;
}